.training {
    position: relative;
    background: #FFFFFF;

    .training__bg-img {
        position: absolute;
        top: 54px;
        right: 0;
        z-index: 1;
    }

    .training__bg-cube {
        position: absolute;
        bottom: 40%;
        right: 0;
        z-index: 1;
    }

    .training__description {
        margin-top: 10px;
        margin-bottom: 130px;
        position: relative;
        padding-left: 23px;

        .training__cube-img {
            position: absolute;
            top: -30px;
            left: 40px;
            z-index: 1;
        }

        .training__line-img {
            position: absolute;
            bottom: -4%;
            right: 10.5%;
            z-index: 1;
        }
        .description-text {
            @include font-face(Montserrat, 700, 44px, 54px, $color-text-primary-1);
            margin: 0 0 20px 0px;
            text-align: left;
            position: relative;
            z-index: 3;
        }

        .description-descr {
            @include font-face(Lato, 400, 18px, 22px, $color-text-primary-1);
            margin: 0 0 5px 0px;
        }

        .description-descrs {
            @include font-face(Lato, 400, 18px, 22px, $color-text-primary-1);
            margin: 0 0 30px 0px;
        }

        .description-plans {
            margin: 0 0 40px 38px;

            .plans-item {
                gap: 41px;
                display: flex;
                align-items: flex-start;

                img {
                    width: 23px;
                    height: 25px;
                }

                p {
                    @include font-face(Lato, 400, 17px, 20px, $color-text-primary-1);
                }
            }
        }

        .description-button {
            margin-left: 35px;
            width: 287px;
            height: 48px;

            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: none;
            @include font-face(Montserrat, 700, 16px, 20px, $color-text-primary-2);
            text-transform: uppercase;

            .description-span {
                position: absolute;
                right: 25px;
            }
        }
    }

    .training__programs {
        margin: 165px 0 0 0px;

        .programs-text {
            @include font-face(Montserrat, 700, 30px, 37px, $color-text-primary-1);
            margin-bottom: 45px;
        }

        .programs-item {
            margin-bottom: 42px;

            .programs-title {
                @include font-face(Montserrat, 700, 20px, 24px, $color-text-primary-1);
                margin-bottom: 20px;
            }

            .programs-process {
                @include font-face(Lato, 400, 17px, 20px, $color-text-primary-1);
                padding-top: 5px;
                margin: 0 0 20px 42px;

            }

            .programs-ul {
                margin-left: 38px;

                .programs-li {
                    @include font-face(Lato, 400, 17px, 20px, $color-text-primary-1);
                    margin-bottom: 10px;
                    margin-left: 30px;
                    max-width: 1115px;
                    position: relative;
                    z-index: 3;
                    list-style-type: disc;

                    &::marker {
                        font-size: 35px;
                        color: #A5CBF9;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .training {
        .training__description {
            padding-left: 0;
            .training__cube-img {
                position: absolute;
                top: -40px;
                left: -40px;
                z-index: 1;
            }

            .description-text {
                font-size: 35px;
                line-height: 40px;
                margin: 0 0 20px 0;
            }

            .description-descr {
                margin: 0 0 5px 0;
            }

            .description-descrs {
                margin: 0 0 30px 0;
            }

            .description-plans {
                margin: 0 0 40px 50px;

            }

            .description-button {
                margin-left: 50px;
            }
        }

        .training__programs {
            margin: 165px 0 0 0;

            .programs-text {
                margin-bottom: 45px;
            }

            .programs-item {
                margin-bottom: 42px;

                .programs-title {
                    margin-bottom: 20px;
                }

                .programs-process {
                    margin: 0 0 20px 42px;

                }

                .programs-ul {
                    margin-left: 38px;

                    .programs-li {
                        margin-bottom: 10px;
                        max-width: 1115px;
                    }

                    .programs-li::marker {
                        font-size: 35px;
                        color: #A5CBF9;
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .training__line-img {
        display: none;
    }
}


@media (max-width: 768px) {

    .training__cube-img,
    .training__bg-img,
    .training__bg-cube,
    .training__line-img {
        display: none ;
    }

    .training {
        .training__description {
            .description-text {
                font-size: 31px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    .training {
        padding-top: 20px;

        .breadcrumbs {
            display: none;
        }

        .training__description {
            margin-top: 10px;
            margin-bottom: 95px !important;

            .description-text {
                font-size: 26px !important;
                line-height: 30px !important;
            }

            .description-descr {
                font-size: 16px !important;
                line-height: 20px !important;
            }

            .description-descrs {
                font-size: 16px !important;
                line-height: 20px !important;
            }

            .description-plans {
                margin: 0 0 40px 0 !important;
                .plans-item {
                    gap: 20px;
                }
            }

            .description-button {
                margin-left: 0 !important;

            }
        }

        .training__programs {
            margin: 80px 0 0 0 !important;

            .programs-text {
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 30px !important;
            }

            .programs-item {
                margin-bottom: 42px;

                .programs-process {
                    margin: 0 0 20px 15px !important;
                }

                .programs-ul {
                    margin-left: 0 !important;

                    .programs-li::marker {
                        font-size: 35px;
                        color: #A5CBF9;
                    }
                }
            }
        }
    }
}