.services-title__consultation
    img.services-consultation__img1(src="/src/assets/icons/polygon.svg" alt="polygon")
    img.services-consultation__img2(src="/src/assets/icons/polygon.svg" alt="polygon")
    img.services-consultation__img3(src="/src/assets/icons/polygon.svg" alt="polygon")
    .services-consultation__block
        input.services-consultation__input(type="text" placeholder="Ваше имя")
        input.services-consultation__input(type="text" placeholder="Email")
        button Получить консультацию