.consultation-form {
    max-width: 1200px;
    margin: auto;
    height: auto;
    position: relative;
    padding-bottom: 95px;

    &__bg-img1 {
        position: absolute;
        width: 139px;
        height: 139px;
        bottom: 160px;
        left: 50px;
    }

    &__bg-img2 {
        position: absolute;
        width: 203px;
        height: 203px;
        top: -70px;
        left: 155px;
        z-index: 1;
    }

    &__bg-img3 {
        position: absolute;
        width: 257px;
        height: 257px;
        bottom: 50px;
        right: 75px;
    }

    &__wrap {
        margin: auto;
        width: 643px;
        height: 349px;
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 78px;
        gap: 23px;
        background: #FFFFFF;
        border-radius: 20px;
        filter: drop-shadow(4px 4px 20px rgba(40, 44, 55, 0.2));
    }

    &__submit-btn {
        width: 530px;
        height: 48px;
        @include font-face(Montserrat, 700, 16px, 20px, $color-text-primary-2);
        text-transform: uppercase;
    }

    &__input {
        width: 530px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #9FA7B0;
        border-radius: 8px;
        padding-left: 21px;

        &::placeholder {
            @include font-face(Lato, 400, 18px, 22px, #9FA7B0);
            font-style: italic;
        }
    }

    &__input-error-label {
        height: 5px;
        @include font-face(Lato, 400, 14px, 17px, #CF4747);
        font-style: italic;
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 768px) {
    .consultation-form {
        margin-top: 100px;
        padding-bottom: 30px;

        &__bg-img1,
        &__bg-img2,
        &__bg-img3 {
            display: none;
        }

        &__wrap {
            height: auto;
            width: 100%;
            padding: 40px 0;
        }

        &__submit-btn {
            width: 90%;
            font-size: 14px;
        }

        &__input-wrap {
            width: 90%;
        }
        &__input {
            width: 100%;
            &::placeholder {
                font-size: 14px;
            }
        }
    }
}