.questions {
    display: flex;
    justify-content: center;
    padding: 34px 0 55px 0;

    &__wrap {
        margin: 0 auto;
        justify-content: space-between;
        row-gap: 76px;
        flex-direction: row;
    }

    &__item {
        align-items: center;
        width: 40%;
    }

    &__img {
        margin-right: 30px;
    }

    &__text {
        @include font-face(Lato, 400, 18px, 22px, $color-text-primary-1);
        margin: 0;

        &:hover {
            text-decoration-line: underline;
            transition: color 0.2s;
            color: #5391DC;
            cursor: pointer;
        }
    }
}


@media (max-width:993px) {
    .questions {
        &__item {
            width: 46%;
        }
    }
}


@media (max-width:768px) {
    .questions {
        flex-direction: column;
        align-content: center;
        width: 100% !important;

        &__img {
            margin-right: 34px;
        }

        &__item {
            width: 90%;
        }
    }
}


@media (max-width:576px) {
    .questions {
        width: 100%;

        &__item {
            width: 100%;
        }

        &__text {
            font-size: 18px;
        }
    }
}