section
    .container
        .questions
            section.questions__wrap.d-flex.row.col-10
                each value in gMainQuestions
                    .questions__item.d-flex
                        img(src="/src/assets/icons/cube.svg" alt="cube").questions__img
                        p.questions__text #{value}