section.questions
    .container
        .questions__wrap.row.col-12.col-lg-9.col-md-6
            each questionText in gMainQuestions
                .questions__item.d-flex
                    img.questions__item-img(src="/src/assets/icons/cube.svg" alt="cube")
                    p.questions__item-text #{questionText}