section.services
    h1.services__title Услуги
    .services__items
        each serv in gServices
            .services__item
                a(href=serv.url)
                    img.services__img(src=serv.img alt="service-icon")
                    p.services__item-text #{serv.text}