section.preview.container
    .preview__bg
        .preview__info
            .preview__info-title Создаем решения
            .preview__info-sub-title для роста бизнеса
            .preview__info-desc.col-10 На основе анализа данных с алгоритмами реализации
            button.btn-default.preview__info-btn#btn-discuss-issue Обсудить проблему
        .preview__img.col-5.d-flex.flex-column.align-items-center.justify-content-center
            img(src="/src/assets/icons/big-rubiks-cube.svg" alt="big-rubiks-cube")