section.main-services
    .container
        .main-services__wrap
            .main-services__title-wrap.ps-sm-5
                h2.main-services__title Услуги
            ul.main-services__list
                each serv in gServices
                    li.main-services__item
                        a.main-services__item-link(href=serv.url)
                            img(src=serv.img alt="service-icon")
                            p.main-services__item-text #{serv.text}