.main {
    background: url("/src/assets/images/bg-line-2.png") no-repeat 30% 90%;

    .main-bg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 94px;
        padding-bottom: 234px;
        background: url("/src/assets/images/bg-line-1.png") no-repeat 32% 15%;
    }

    .start {
        padding-left: 30px;
        padding-top: 105px;
        background: url("/src/assets/images/bg-polygons.png") no-repeat;

        .start__title-first {
            @include font-face(Montserrat, 700, 44px, 54px, $color-text-primary-1);
            text-transform: uppercase;
        }

        .start__title-second {
            @include font-face(Montserrat, 700, 30px, 37px, $color-text-primary-1);
            text-transform: uppercase;
        }

        .start__subtitle {
            margin-top: 19px;
            @include font-face(Lato, 400, 22px, 26px, $color-text-primary-1);
        }

        .start__button {
            margin-top: 32px;
            width: 264px;
            height: 48px;
            background: #47CF34;
            border-radius: 8px;
            border: 0px;
            text-align: center;

            @include font-face(Montserrat, 700, 16px, 20px, $color-text-primary-2);
            text-transform: uppercase;
            transition: background 0.2s;

            &:hover {
                background: #30B01E;
            }
        }
    }
}

@media (max-width:1200px) {
    .main {
        background-position: 50% 90%;

        .main-bg {
            .start {
                .start__title-first {
                    font-size: 40px;
                }

                .start__title-second {
                    font-size: 26px;
                }

                .start__subtitle {
                    font-size: 20px;
                }
            }
        }
    }

    .cube {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cube img {
        width: 400px;
    }
}

@media (max-width:993px) {

    .cube img {
        width: 350px;
    }

    .main {
        background-size: 480px;
        background-position: 50% 90%;

        .main-bg {
            background-size: 480px;
            background-position: 56% 18%;
        }
    }
}


//@media (max-width:768px) {
//    .main {
//        background: url(../img/arrows.svg) no-repeat;
//        background-position: 50% 90%;
//
//        .main-bg {
//            background: none;
//            flex-direction: column-reverse;
//            align-items: center;
//            padding-top: 45px;
//            padding-bottom: 180px;
//        }
//
//        .start {
//            background: none;
//            text-align: center;
//            display: flex;
//            flex-direction: column;
//            align-items: center;
//            padding: 0px;
//            width: auto !important;
//        }
//    }
//}


@media(max-width:576px) {
    .cube img {
        width: 230px;
    }

    .start {
        .start__title-first {
            font-size: 28px;
        }

        .start__title-second {
            font-size: 18px;
        }

        .start__subtitle {
            margin-top: 16px;
            font-size: 14px;
        }

        .start__button {
            margin-top: 24px;
        }
    }
}