.preview {
    position: relative;
    padding: 100px 0 140px;

    &__body {
        position: relative;
    }

    &__title {
        position: relative;
        @include font-face(Montserrat, 700, 44px, 54px, $color-text-primary-1);
        text-transform: uppercase;

        span {
            @include font-face(Montserrat, 700, 30px, 37px, $color-text-primary-1);
        }
    }

    &__sub-title {
        @include font-face(Lato, 400, 22px, 26px, $color-text-primary-1);
    }

    &__img {
        width: 41%;
    }

    &__btn {
        @include font-face(Montserrat, 700, 16px, 20px, $color-text-primary-2);
        text-transform: uppercase;
        text-align: center;
        padding: 15px 32px 13px;
    }
}

.preview:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/images/about-lines.svg");
    background-position: 45% 88px;
    background-repeat: no-repeat;
    background-size: 55% 88%;
}

.preview__title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 140px;
    height: 155px;
    background-image: url("/src/assets/icons/two-polygons.svg");
    transform: translateY(-50%) translateX(-12%);
}


//==================================================

.modal-order {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    overflow: auto;
    z-index: 10;
    visibility: hidden;
}

.modal-order_open {
    visibility: visible;
}

.modal-order__wrapper {
    width: 500px;
    min-height: 100%;

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.modal-order__container {
    position: relative;
    margin: 50px 0;
    width: 506px;
    height: 815px;

    padding: 38px 90px 56px 86px;

    border-radius: 4px;
    color: #000000;
    background-color: #FFFFFF;
}


// .modal-page {
//     position: fixed;
//     z-index: 6;
//     top: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.35);
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     display: flex;
//     justify-content: center;
//     padding-top: 115px;
//     padding-bottom: 115px;
// }

// .modal-page__inner {
//     align-items: center;
//     background-color: white;
//     height: 812px;
// }

.modal-page__item {
    display: flex;
    align-items: center;
    height: 758px;
}

.modal-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px 0px 70px;

    div {
        margin-bottom: 6px;
    }
}

.modal-page__close {
    position: relative;
    margin: 18px 0px 0px 22px;
}

.modal-page__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 34px;
}

.name,
.big-text,
.email {
    width: 312px;
    height: 50px;
    border: 1px solid #282C37;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 14px 21px;
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9FA7B0;
}

.big-text {
    height: 191px;
}

.name:focus,
.big-text:focus,
.email:focus {
    border: 0px;
    outline: 1px solid #0278ED;
}

.error {
    border: 0px;
    outline: 1px solid #CF4747;
}


.form__button-submit {
    width: 312px;
}

.form__button-submit:disabled {
    border: 1px solid #9FA7B0;
    background: #9FA7B0;
    width: 312px;
    color: #FFFFFF;
}

.input-field-error {
    border-color: red;
}
@media (max-width: 768px) {
    .modal-order__wrapper {
        width: 100%;
        height: auto;
    }
    .modal-order__container {
        margin: 0;
        height: 100%;
        //padding: 38px 50px 20px 50px;
    }

    .modal-order__input-name {
        margin-top: 5px;
    }
}

.warning-name-error,
.warning-email-error,
.warning-big-text-error {
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CF4747;
    margin-left: 11px;
    margin-bottom: 0px;
}