extends /src/layout


block content
    include /src/config/config
    include /src/components/mainPage/preview/index
    include /src/components/mainPage/questions/index
    include /src/components/mainPage/services/index