@import "./null";
@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./buttons";
@import "./inputs";


// TODO: удалить
@media (min-width: 1440px) {
    .my-container {
        margin: 0 auto;
    }
}



* {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body.modal-open {
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}