@import "./null";
@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./buttons";
@import "./inputs";


// TODO: удалить
@media (min-width: 1440px) {
    .my-container {
        //max-width: 82%;
        //max-width: 1200px;
        margin: 0 auto;
    }
}



* {
    scroll-behavior: smooth;
}


body.modal-open {
    overflow: hidden;
}