@import "./null";
@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./buttons";


@media (min-width: 1440px) {
    .my-container {
        max-width: 82%;
        margin: 0 auto;
    }
}



* {
    scroll-behavior: smooth;
}


body.modal-open {
    overflow: hidden;
}