extends /src/index

block content
    section.preview
        .container
            .preview__inner
                .preview__inform
                    h2.preview__title Создаем решения
                    h3.preview__subtitle Для роста бизнеса
                    p.preview__text На основе анализа данных с алгоритмами реализации
                    button.btn-default#open-modal Обсудить проблему
                img.preview__img.col-5(src="/src/assets/images/cube.png", alt="cube")
