extends /src/index

block content
    section#cube
        .container-md
            .cube__inner
                .cube__inform
                    h2.cube__title Создаем решения
                    h3.cube__subtitle Для роста бизнеса
                    p.cube__text На основе анализа данных с алгоритмами реализации
                    button#open-modal.prime__button Обсудить проблему
                img.col-5.cube__img(src="/src/assets/images/cube.png", alt="cube")