extends /index


block content
    h1 Сервисы
    img.header-nav__logo(src="/src/assets/icons/company-header-logo.svg" alt="company-header-logo")
    img.header-nav__logo(src="/src/assets/icons/rocket.png" alt="company-header-logo")
    img.header-nav__logo(src="/src/assets/images/cube.svg" alt="company-header-logo")

    //include  ../components/header-nav/index