-
    const gMainQuestions = [
        "Как гайти точки роста и определить цели?",
        "Как избежать проблем на старте нового бизнеса?",
        "Как увеличить прибыль, управляя ценами?",
        "Как не попасть в \"черную дыру\" затрат на продвижение"
    ]

    const gServices = [
        {
            text: "Разрабатываем маркетинг-план: дорожная карта достижения целей",
            img: "/src/assets/icons/services/plan.svg"
        },
        {
            text: "Повышаем эффективность продвижения: аудит существующей модели",
            img: "/src/assets/icons/services/filament-lamp.svg"
        },
        {
            text: "Находим скрытую прибыль: анализ модели ценообразования",
            img: "/src/assets/icons/services/chart.svg"
        },
        {
            text: "Запускаем новый проект: start-up маркетинг",
            img: "/src/assets/icons/services/rocket.svg"
        }
    ]

    // TODO: пока не используется
    const gHeaderNavLinks = [
        {link: './', text: 'консультации'},
        {link: './services.html', text: 'Услуги'},
        {link: './trainings.html', text: 'Треннинги'},
        {link: 'https://exapmle.com', text: 'блог'},
    ]