-
    const gHeaderNavLinks = [
        {link: './', text: 'консультации'},
        {link: './services.html', text: 'Услуги'},
        {link: './trainings.html', text: 'Треннинги'},
        {link: 'https://exapmle.com', text: 'блог'},
    ]