// TODO: разделить конфиг по страницам
-
    const gMainQuestions = [
        "Как гайти точки роста и определить цели?",
        "Как избежать проблем на старте нового бизнеса?",
        "Как увеличить прибыль, управляя ценами?",
        "Как не попасть в \"черную дыру\" затрат на продвижение"
    ]

    const gServices = [
        {
            text: "Разрабатываем маркетинг-план: дорожная карта достижения целей",
            img: "/src/assets/icons/services/plan.svg",
            url: "./services.html"
        },
        {
            text: "Повышаем эффективность продвижения: аудит существующей модели",
            img: "/src/assets/icons/services/filament-lamp.svg",
            url: "./services.html"
        },
        {
            text: "Находим скрытую прибыль: анализ модели ценообразования",
            img: "/src/assets/icons/services/chart.svg",
            url: "./services.html"
        },
        {
            text: "Запускаем новый проект: start-up маркетинг",
            img: "/src/assets/icons/services/rocket.svg",
            url: "./services.html"
        }
    ]

    // TODO: пока не используется
    const gHeaderNavLinks = [
        {link: './', text: 'консультации'},
        {link: './services.html', text: 'Услуги'},
        {link: './trainings.html', text: 'Треннинги'},
        {link: 'https://exapmle.com', text: 'блог'},
    ]

    const gProgram = [
        {
            title: "Функция маркетинга как бизнес-технологии",
            process: [],
            stage: [
                "Рынок как динамическая система взаимодействия потребительской и конкурентной сред",
                "Поиск точек роста в непрерывно меняющейся рыночной среде",
                "Прибыль компании как производная от управления маркетингом",
                "Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей"
            ]
        },
        {
            title: "Практический инструментарий",
            process: [],
            stage: [
                "Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.",
                "Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. ",
                "Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.",
                "Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения",
                "Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.  "
            ]
        },
        {
            title: "Организация маркетинга в компании",
            process: [],
            stage: [
                "Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности",
                "Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. ",
                "Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля."
            ]
        },
        {
            title: "Кейсы-примеры:",
            process: [],
            stage: [
                "«Догнать и перегнать лидера рынка»",
                "«Увеличить прибыль на падающем рынке»",
                "«Comeback бывшего лидера»",
                "«Повышаем маржинальность, не выходя из кабинета»"
            ]
        },
        {
            title: "Кейсы-примеры:",
            process: ["С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению."],
            stage: []
        },
        {
            title: "Бонусы",
            process: [
                "5 часов бесплатных консультаций в течение месяца после проведения тренинга.",
                "Набор шаблонов для анализа ключевых показателей."
            ],
            stage: []
        },
        {
            title: "Преимущества бизнес-тренинга:",
            process: [],
            stage: [
                "Составлен на основе опыта решения конкретных задач",
                "Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий",
                "Акцент на реальных примерах с разбором ошибок",
                "Направлен на практическую реализацию, начиная с завтрашнего дня",
            ]
        },
        {
            title: "Форматы проведения:",
            process: [],
            stage: [
                "Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день",
                "Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день",
                "групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день"
            ]
        },
    ]

    const gTrainings = [
        {
            title: "Бизнес-тренинг «Маркетинг – технология роста»",
            for: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга"
            ]
        },
        {
            title: "Тренинг с длинным названием в 3 текстовой строчки",
            for: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга",
                "Получение практических навыков применения технологии маркетинга"
            ]
        },
        {
            title: "Короткое название",
            for: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга"
            ]
        }
    ]

    const gServicesPage = [
        "Интервью с сотрудниками компании и потребителями",
        "Сбор информации о рынках из открытых источников",
        "Анализ внешней информации: SWOT, BCG, сравнительный анализ по 4Р маркетинга",
        "Анализ внутренней информации: динамика основных показателей с определением причин изменений",
        "Совместное обсуждение целей и плана действий"
    ]