footer.footer
    .container
        .footer__wrap.row.justify-content-between.align-items-center
            .footer__copyrights-wrap.col-6
                span.footer__copyrights Все права защищены ©
            ul.footer__links.col-6.p-0.m-0.d-flex.gap-4.justify-content-end
                +socialLinks("footer__link-item", "#9FA7B0")