include components/atoms/image

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    body
        p  kuku epta
        .cube
            | a
            h2  Header
            //img.src(src=require("assets/images/main-text.png").default alt="opa")
            img.ali(src="assets/images/main-text.png" alt="ps")
            +image("assets/icons/rocket.png", "rocket")
            p kek lok ps24
        button.btn-default alos