@import "/src/styles/mixins";
@import "/src/styles/init/global";


.header-nav {
    height: 70px;
    padding: 21px 0px 20px 0px;
    background-color: $color-bg-1;
    box-shadow: (0px 2px 8px rgba(50, 59, 80, 0.05));

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 25px;
    }

    &__logo {
        width: 133px;
        height: 29px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }

    &__menu-item a {
        text-transform: uppercase;
        @include font-face(Lato, 600, 14px, 17px, $color-text-primary-1);
    }

    &__social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    &___social-links-item {

    }


    &__burger-btn {
        position: relative;
        z-index: 50;
        width: 36px;
        height: 36px;
        border-radius: 20px;
        background-color: white;
        border: 0px;

        &:hover {
            background: #E5E5E5;
        }

        span {
            width: 24px;
            height: 2.5px;
            margin-left: 6px;
            margin-top: 0px;
            position: absolute;
            background-color: #282C37;
            left: 0%;
            top: 0%;
            z-index: 20;
            transition: all ease 0.5s;
        }
    }

    &__burger-btn span:nth-of-type(1) {
        top: 50%;
    }

    &__burger-btn span:nth-of-type(2) {
        top: calc(50% - 8px);
    }

    &__burger-btn span:nth-of-type(3) {
        top: calc(50% + 8px);
    }

    &__burger-btn.active span:first-of-type {
        transform: translateX(-100%);
        opacity: 0;
    }

    &__burger-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: rotate(405deg);
    }

    &__burger-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: rotate(-405deg);
    }

    &__burger-btn-close-icon {

    }
}


@media(max-width: 768px) {
    .header-nav {
        &__bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 150px 15px 15px 15px;


            transform: translateX(100%);
            transition: transform 400ms;
            background-color: $color-bg-1;
        }

        &__bar_active {
            transform: translateX(0);

            .header-nav__logo-mobile {
                width: 64px;
                height: 69px;
                display: block !important;
            }
        }


        &__menu {
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
            gap: 45px;
        }

        &__menu-item a {
            @include font-face(Lato, 500, 16px, 19px, $color-text-primary-1);
        }

        &__social-links {
            margin-top: 116px;
        }
    }
}
