.header-nav
    //img.header-nav__logo(src="assets/icons/company-header-logo.svg" alt="company-header-logo")
    ul.header-nav__menu
        li.header-nav__menu-item
            a(href="#") Консультации
        li.header-nav__menu-item
            a(href="#") Услуги
        li.header-nav__menu-item
            a(href="#") Треннинги
        li.header-nav__menu-item
            a(href="#") Блог
    ul.header-nav__social-links
        li.header-nav__social-links-item f
        li.header-nav__social-links-item w
        li.header-nav__social-links-item t
