header.header
    .container
        nav.header__wrap.row
            .header__logo.col-4
                a(href="./index.html")
                    img(src="/src/assets/icons/company-header-logo.svg" alt="company-header-logo")
            ul.header__menu.col-6
                li.header__menu-item
                    a(href="./index.html") Консультации
                li.header__menu-item
                    a(href="./service.html") Услуги
                li.header__menu-item
                    a(href="./train.html") Тренинги
                li.header__menu-item
                    a(href="./blog.html") Блог
            ul.header__links.col-2
                +socialLinks(header__link, "#282C37")
            button.header__burger-btn.col-2#burger-btn-open
                img(src="/src/assets/icons/burger-button.svg" alt="burger-button")

.burger-menu#burger-menu
    .container-md
        button.burger-menu__btn-close#burger-btn-close
            img(src="/src/assets/icons/x-mark.svg" alt="x-mark")
        nav.burger-menu__content
            img.burger-menu__logo(src="/src/assets/icons/cube.svg" alt="cube")
            ul.burger-menu__links
                li.burger-menu__links-item
                    a(href="./index.html") Консультации
                li.burger-menu__links-item
                    a(href="./services.html") Услуги
                li.burger-menu__links-item
                    a(href="./trainings.html") Тренинги
                li.burger-menu__links-item
                    a(href="./blog.html") Блог
